
@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-left: 10px; margin-right: 20px;">
    <br />
    <h3>Admin Ekleme Sayfası</h3>
    <br />

    @using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
    {
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName, "", new { @style = "color: red;" })
        <br />
        @Html.Label("Admin Şifre")
        @Html.TextBoxFor(x => x.AdminPasswrod, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPasswrod, "", new { @style = "color: red;" })
        <br />
        @Html.Label("Admin Rolü")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole, "", new { @style = "color: red;" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    }
</div>

